.bigbox {
    width: 500px;
    height: 250px;
    background: cyan;
    margin: auto;
}

.smallbox1 {
    background: red;
    width: 40px;
    height: 40px;
}

.smallbox2 {
    background: green;
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 40px;
    left: 40px;
    
}